meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="author" content="Alexander Kislov")
meta(name="copyright" content="Alexander Kislov")
meta(name="description" content="Tic Tac Toe")
meta(name="keywords" content="Tic Tac Toe")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="robots" content="index, follow")
title TicTacToe &mdash; Alexander Kislov
link(rel="shortcut icon" href="" type="image/x-icon")
link(rel="stylesheet" href="css/main.css" type = "text/css")
