meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="author" content="Alexander Kislov")
meta(name="copyright" content="Alexander Kislov")
meta(name="description" content="Tic Tac Toe Game")
meta(name="keywords" content="Tic Tac Toe Game")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="robots" content="index, follow")
title Tic Tac Toe Game
link(rel="shortcut icon" href="" type="image/x-icon")
