.tictactoe {
	.row {
		display: flex;
		justify-content: center;
	}
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: #BADA55;
	border: 1px solid #777;
	font-size: 40px;
	&:hover, &:focus {
		cursor: pointer;
	}
}

.top {
	.cell {
		border-top: none;
	}
	.cell:first-child {
		border-left: none;
		border-top-left-radius: 8px;
	}
	.cell:last-child {
		border-right: none;
		border-top-right-radius: 8px;
	}
}

.middle {
	.cell:first-child {
		border-left: none;
	}
	.cell:last-child {
		border-right: none;
	}
}

.bottom {
	.cell {
		border-bottom: none;
	}
	.cell:first-child {
		border-left: none;
		border-bottom-left-radius: 8px;
	}
	.cell:last-child {
		border-right: none;
		border-bottom-right-radius: 8px;
	}
}

.choice {
	// position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	width: 400px;
	background-color: #5EB9FF;
	border-radius: 10px;
	font-size: 70px;
	span {
		padding: 20px 40px;
		border-radius: 10px;
		transition: all 0.3s;
		&:focus, &:hover {
			cursor: pointer;
			background-color: #4A93CA;
		}
	}
}

button {
	margin-top: 40px;
	width: 100px;
	outline: none;
	border: none;
	padding: 5px 10px;
	color: #555;
	background-image: linear-gradient(top, #F5F5F5, #F1F1F1);
	border-radius: 4px;
	&:hover, &:focus {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
	}
}
