doctype html
html(lang="en")
	head
		include templates/head
	body
		.tictactoe
			.row.top
				.cell#0
				.cell#1
				.cell#2
			.row.middle
				.cell#3
				.cell#4
				.cell#5
			.row.bottom
				.cell#6
				.cell#7
				.cell#8
		.msg-end-game
		.choice
			span#ex X
			span#zero O
		button Replay
		include templates/scripts
